<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相机拍摄纺织品规格图片以进行智能识别</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以选择纺织品规格图片进行识别</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问相册以保存计算结果截图</string>
</dict>
</plist>
